.info {
  display: flex;
}
.info div span {
  font-weight: bold;
}

.items-columns {
  display: flex;
  flex-direction: row;
  border: 1px solid grey;
  padding: 0 0.5rem;
}

.items-rows {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  padding: 0 0.5rem;
}

.width-70 {
  width: 70%;
}

.width-30 {
  width: 30%;
}

.new-property form {
  display: flex;
  flex-direction: column;
}